@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@500;600&display=swap");
.mt-2 {
  margin-top: 2rem;
}
.mt-1 {
  margin-top: 1rem;
}
.plr-4 {
  padding-left: 4rem;
  padding-right: 4rem;
}
.coin_information #readmore {
  margin-top: 0.5rem;
  line-height: 1em;
  letter-spacing: 0.06em;
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  background: #231f20;
  display: inline-block;
  padding: 10px 12px 10px 12px;
  transition: background 200ms;
  border-radius: 4px;
}
.coin_information #readmore:hover {
  background-color: #4ecca3;
}
